* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #00bea4;
  background-image: linear-gradient(#00bea4, #d3dad8, #c6cfcc);
  font-family: 'Rubik', sans-serif;
}

section {
    height: 90vh;
    width: 80%;
    margin: 5vh auto;
}

/* ASIDE */
aside {
    height: 100%;
    width: 30%;
    float: left;
}

aside .fa,
.main-1 .fa {
    font-size: 20px;
    color: rgb(169,169,169);
    margin-right: 15px;
}

/* ASIDE - 1 */
.aside-1 {
    height: 70px;;
    width: 100%;
    background-color: #f0f0f0;
    border-right: 1px solid rgb(169,169,169);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 55px;
    border-radius: 50%;
    margin: 0 20px;
}

/* ASIDE - 2 */
.aside-2 {
    height: 70px;;
    width: 100%;
    background-color: rgb(135, 206, 250);
    display: flex;
    align-items: center;
}

.aside-p2 {
    display: flex;
    align-items: center;
}

.aside-2 a i {
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    color: rgb(135, 206, 250);
    margin-left: 20px;
}

#notifiche {
    color: gray;
    text-decoration: underline;
    cursor: pointer;
}

/* ASIDE - 3 */
.aside-3 {
    height: 45px;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
}

.aside-p3 {
    flex-basis: 16%;
    padding-left: 6px;
}

.aside-p4 {
    flex-basis: 94%;
    padding-right: 6px;
}

.aside-3 button {
    height: 30px;
    background-color: white;
    border: none;
    cursor: pointer;
}

button i {
    padding-left: 14px;
}


.aside-3 input {
    height: 30px;
    width: 100%;
    border: none;
    padding: 0 10px;
}

/* ASIDE - 4 */
.aside-4 {
    height: calc(100% - 185px);
    width: 100%;
    overflow-y: scroll;
}

.aside-p1 {
    height: 70px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.a-p1-child {
    width: calc(100% - 95px);
}

.a-p1-child-1 {
    display: flex;
    justify-content: space-between;
}

small, time {
    color: gray;
}

/* MAIN */
main {
    height: 100%;
    width: 70%;
    float: left;
}

/* MAIN - 1 */
.main-1 {
    height: 70px;;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.m-p1 {
    display: flex;
    align-items: center;
}

/* MAIN - 2 */
.main-2 {
    height: calc(100% - 140px);
    width: 100%;
    background-image: url("../img/mine.jpg");
    overflow-y: scroll;
}

.message {
    max-width: 30%;
    min-width: 20%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.sent {
    background-color: #dcf8c6;
    float: right;
    clear: both;
}

.received {
    background-color: white;
    float: left;
    clear: both;
}

.msg-bottom {
    text-align: right;
}

.template {
    display: none;
}

/* MAIN - 3 */
.main-3 {
    height: 70px;;
    width: 100%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-3 .fa {
    font-size: 25px;
    color: #696969;
}

.main-3 input {
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.m-p3 {
    display: flex;
    justify-content: center;
    flex-basis: 10%;
}

.m-p4 {
flex-basis: 80%;
}
